<h1 class="animated fadeIn fast">Sobre App Comic</h1>
<hr />
<p class="animated fadeIn">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam quo consectetur ipsum error, fugit explicabo quisquam vel fugiat, reprehenderit voluptatum voluptas sint corporis voluptatibus modi consequatur ullam blanditiis, minus suscipit? Lorem ipsum,
    dolor sit amet consectetur adipisicing elit. Fugit dolores doloremque quam dolore saepe animi exercitationem. Pariatur libero nisi, officiis ut rem voluptatem eligendi quam tenetur fuga dignissimos deleniti praesentium!
</p>